/*Reset browser*/
html, body {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    padding-left: 60px;
    padding-right: 60px;
}

.section-text {
    width: 100%;
    padding: 50px 0px 50px;
}

.div-text {
    float: left;
    max-width: 50%;
}

.box-paragraph {
    width: 100%;
}

.div-image {
    float: right;
    max-width: 50%;
    display: inline-block;
}

.text-content {
    padding-top: 25px;
    padding-bottom: 25px;
}

.section-text-paragraph {
    padding-right: 25px;
    margin-right: 50px;
    max-height: 240px;
    overflow: auto;
    font-size: 16px;
}

.section-text-heading {
    font-size: 6rem;
}

.section-image {
    float: right;
}

.major-button {
    float: left;
    width: 100%;
}

.major-cta {
    padding: 9px 10px 9px 10px;
    width: 250px;
    background-color: rgb(202, 0, 27);
    font-size: 16px;
    color: white;
    border: 1px solid rgb(202, 0, 27);
}

.major-cta:hover {
    background-color: white;
    color: rgb(202, 0, 27);
    border: 1px solid #d8d8d8;
    transition-duration: 0.4s;
}

.minor-buttons {
    max-width: 250px;
    width: 100%;
}

.minor-cta-1 {
    margin-right: 5%;
    transition-duration: 0.4s;
}

.minor-cta-2 {
    margin-left: 5%;
    transition-duration: 0.4s;
}
.minor-cta-1:hover {
    color: rgb(202, 0, 27);
}

.minor-cta-2:hover {
    color: rgb(202, 0, 27);
}

.minor-cta-1, .minor-cta-2 {
    width: 95%;
    margin-top: 10px;
    padding: 6px 10px 6px 10px;
    background-color: transparent;
    color: black;
    font-size: 14px;
    border: 1px solid #d8d8d8;
}


.middle-buttons {
    width: 50%;
    float: left;

}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}